[Unit]
Description=Mount QNAP SMB share
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/kokoplay/smbmount.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal


[Install]
WantedBy=default.target
