[Desktop Entry]
Type=Application
Name=Kokoplay configure
Comment=Custom utility
Exec=/usr/libexec/kokoplay/kokoplay_yafti_gtk.py /usr/share/yafti/kokoplay-yafti.yml
Icon=/usr/share/icons/hicolor/scalable/apps/kokoplay-menu.svg
Terminal=false
Categories=Utility;
StartupNotify=true